@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@600;800&display=swap');

.dropbtn {
    background-color: #FFFFFF;
    color: #342CFF;
    padding: 10px 15px;
    border: solid #342CFF;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 600;
  }
  
  .dropbtn:hover {
    background-color: #342CFF;
    color: #FFFFFF;
    box-shadow: 0px 0px 5px 0px#342CFF;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .menu-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    margin: 0px -38px;
  }
  
  .menu-content div {
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
    font-family: 'Wix Madefor Display', sans-serif;
  }
  
  .menu-content a:hover {background-color: #ddd;}

  .check-text {
       line-height: 35px;;
       margin-left: -190px;
       font-family: 'Wix Madefor Display', sans-serif;
   } 
  
  .show {display:block;}

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    left: 190px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #342CFF;
    box-shadow: 0px 0px 5px 0px#342CFF;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
